<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/app.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    {{!--
    <link rel="stylesheet" href="https://cdn.mobiscroll.com/5.16.0/css/mobiscroll.min.css"> --}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Chosen CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Bootstrap Bundle (Bao gồm cả Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>

    <div>
        <div style="position:fixed;top:0;z-index:1000;box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);display:flex;justify-content:flex-start;
        align-items:center;padding:10px 100px;background-color:#f77748;width:100%;">

            <div style="margin-right: auto;">
                <h1 style="margin: 0;cursor: pointer;font-weight:bold;color: whitesmoke;"><a href="/">Trang chủ</a></h1>
            </div>

            <ul class="ul-header"
                style="display: flex; align-items: center; margin: 0 auto; gap: 10px; list-style-type: none; font-weight: 400;margin-left:60px">
                <li class="header-items"><a class="dropdown-item dropdown-item-header"
                        style="color: whitesmoke;font-weight: 500;" href="/new?sort=moi-nhat">Hàng khuyến mãi</a>
                </li>
                <li class="header-items"><a class="dropdown-item dropdown-item-header"
                        style="color: whitesmoke;font-weight: 500;" href="/product/category/1">Giỏ trái cây</a>
                </li>
                <li class="header-items"><a class="dropdown-item dropdown-item-header"
                        style="color: whitesmoke;font-weight: 500;" href="/product/category/2">Trái cây</a>
                </li>
                <li class="header-items"><a class="dropdown-item dropdown-item-header"
                        style="color: whitesmoke;font-weight: 500;" href="/product/category/3">Rau củ</a>
                </li>

            </ul>

            <div style="display: flex; align-items: center; gap: 15px;">
                <form action="/search" id="form-search">
                    <div style="position: relative;">
                        <input id="search-input" type="search" placeholder="Bạn đang tìm gì?" aria-label="Search"
                            name="text"
                            style="width: 200px; padding: 5px 30px 5px 10px; border-radius: 7px; border: 1px solid #ccc; outline: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16"
                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"
                            onclick="handleSearch()">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </div>
                </form>


                <div class="dropdown" style="margin-right:-7px">
                    <button class="btn dropdown-toggle-header" type="button" id="dropdownMenuButton4"
                        data-bs-toggle="dropdown" aria-expanded="false" aria-label="Open user menu"
                        style="background: none; border: none; color: inherit; cursor: pointer; padding: 0;color: whitesmoke">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-header" id="user-dropdown"
                        aria-labelledby="dropdownMenuButton4">

                    </ul>

                </div>


                <button class="btn-cart" id="cartButton"
                    style="background: none; border: none; cursor: pointer; margin-top: -4px; color: whitesmoke; position: relative;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-cart4" viewBox="0 0 16 16">
                        <path
                            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                    </svg>
                </button>

                <!-- Cart Dropdown -->
                <div id="cartDropdown" style=" display: none;position: absolute; top: 60px;right: 90px;width: 400px;background: white;
     border: 1px solid rgb(221, 221, 221);padding: 10px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
     border-radius: 5px; z-index: 100;max-height: 500px; overflow-y: auto; padding-right: 5px;">
                    <p style="margin: 0; font-weight: bold;text-align:center;color:#fb662f">Giỏ hàng</p>
                    <div id="cartItems">
                        <hr style="border: none; border-top: 1px solid #ccc; margin: 10px 0;">
                        <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                            <i class="fas fa-box-open" style="font-size: 18px; color: #525252;"></i>
                            <p style="font-size: 14px; margin: 0;">Chưa có sản phẩm</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            function handleSearch() {
                const searchInput = document.getElementById('search-input');
                const searchTerm = searchInput.value.trim();
                const form = document.getElementById('form-search');
                if (!searchTerm) {
                    alert('Vui lòng nhập nội dung tìm kiếm!');
                } else {
                    // Redirect to a new URL with the search term as a query parameter
                    form.submit()
                }
            }

            document.addEventListener("DOMContentLoaded", async () => {
                let dropdown = document.getElementById("user-dropdown");
                const token = localStorage.getItem("token");

                if (!token) {
                    dropdown.innerHTML = `
            <li><a class="dropdown-item dropdown-item-header" href="/account/login">Đăng nhập</a></li>
            <li><a class="dropdown-item dropdown-item-header" href="/account/signup">Đăng kí</a></li>
        `;
                    return;
                }

                fetch("http://localhost:3001", {
                    method: "GET",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                        "Content-Type": "application/json",
                    }
                })
                    .then(async (response) => {
                        if (!response.ok) {
                            throw new Error("Không thể lấy thông tin tài khoản");
                        }
                        const data = await response.json();

                        dropdown.innerHTML = `
            <li><a class="dropdown-item dropdown-item-header" href="/account/user">${data.username}</a></li>
            <li><a class="dropdown-item dropdown-item-header" href="/account/logout" onclick="logout()">Đăng xuất</a></li>
        `;

                        if (data.role === "admin") {
                            dropdown.innerHTML = `<li><a class="dropdown-item dropdown-item-header" href="/admin/product">Quản lý</a></li>` + dropdown.innerHTML;
                        }
                    })
                    .catch(() => {
                        dropdown.innerHTML = `
            <li><a class="dropdown-item dropdown-item-header" href="/account/login">Đăng nhập</a></li>
            <li><a class="dropdown-item dropdown-item-header" href="/account/signup">Đăng kí</a></li>
        `;
                    });
            });

            // Hàm đăng xuất
            async function logout() {
                localStorage.removeItem("token");
            }

            function checkOut() {
                window.location.href = "/checkout";
            }
            const cartButton = document.getElementById("cartButton");
            const cartDropdown = document.getElementById("cartDropdown");

            // Toggle cart dropdown visibility
            cartButton.addEventListener("click", function (event) {
                event.stopPropagation(); // Prevent click from closing immediately
                cartDropdown.style.display = cartDropdown.style.display === "block" ? "none" : "block";
            });

            // Hide dropdown when clicking outside
            //document.addEventListener("click", function (event) {
            //  if (!cartButton.contains(event.target) && !cartDropdown.contains(event.target)) {
            //    cartDropdown.style.display = "none";
            //  }
            //});

            function incrementQuantityCart(cart_id, product_id) {
                let quantityInput = document.getElementById(cart_id);
                let currentValue = parseInt(quantityInput.value);
                if (currentValue < 10) {
                    quantityInput.value = currentValue + 1;
                    updateCartProduct(cart_id, parseInt(quantityInput.value), product_id)
                }
            }

            function decrementQuantityCart(cart_id, product_id) {
                let quantityInput = document.getElementById(cart_id);
                let currentValue = parseInt(quantityInput.value);
                if (currentValue > 1) {
                    quantityInput.value = currentValue - 1;
                    updateCartProduct(cart_id, parseInt(quantityInput.value), product_id)
                }
            }

            async function updateCartProduct(cart_id, quantity, product_id) {
                const token = localStorage.getItem("token");
                try {
                    let formData = {
                        product_id: product_id,
                        quantity: quantity
                    };

                    const response = await fetch(`http://localhost:3003/cart/${cart_id}`, {
                        method: "PATCH",
                        headers: {
                            "Authorization": `Bearer ${token}`,
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(formData)
                    });

                    const data = await response.json();

                    if (data.message === "Vui lòng đăng nhập!") {
                        document.getElementById("alert-text").innerHTML = "Vui lòng đăng nhập!";
                        $("#alertModal").modal("show");

                        $("#alertModal").on("hidden.bs.modal", function () {
                            window.location.href = "/account/login";
                        });
                        return; // Không gọi updateCart nếu chưa đăng nhập
                    }
                    else if (data.message != "Cập nhật thành công!") {
                        document.getElementById("alert-text").innerHTML = data.message;
                        $("#alertModal").modal("show");
                    }
                    await updateCart();
                } catch (error) {
                    console.error("Lỗi fetch API:", error);
                }
            }

        </script>
    </div>

    <div style="padding:10px 100px 10px 100px;margin-top:75px">
        <div>
            <div style="text-align:center">
                <h2 style=" ;font-weight:bold ;">Thanh toán</h2>

            </div>
            <div class="flex-container"
                style="display: flex;flex-direction: row;font-size: 30px;gap:50px;text-align: center; ">
                <form class="flex-item-left" method="post" id="form-checkout"
                    style="padding: 10px; flex: 70%; display: flex; align-items: center; justify-content: center;">
                    <div
                        style="background: #fff; padding: 40px;padding-top:0; border-radius: 0 15px 15px 0; width: 100%; box-shadow: none;">
                        <h2 style="text-align: left; margin-bottom: 20px; ;font-weight:bold ;font-size:22px">Thông tin
                            liên hệ
                        </h2>
                        <div style="margin-bottom: 15px; display: flex; gap: 4%;">
                            <input type="text" id="hovaten" name="hovaten" placeholder="Nhập họ và tên của bạn"
                                style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                        </div>
                        <div style="margin-bottom: 15px; display: flex; gap: 4%;">
                            <input type="email" id="email" name="email" placeholder="Nhập email của bạn"
                                style="width: 48%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                            <input type="text" id="phone" name="phone" placeholder="Nhập sdt của bạn"
                                style="width: 48%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                        </div>

                        <h2
                            style="text-align: left; margin-bottom: 20px; ;font-weight:bold ;font-size:22px;margin-top:25px">
                            Địa
                            chỉ giao hàng</h2>

                        <div style="margin-bottom: 15px; display: flex; gap: 4%;">
                            <div style="flex: 1;">
                                <select id="tinh" required name="tinh"
                                    style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                    <option value="">Chọn Tỉnh/Thành phố</option>
                                    <option value="TP Hồ Chí Minh">TP Hồ Chí Minh</option>
                                    <option value="Hà Nội">Hà Nội</option>
                                </select>
                            </div>
                            <div style="flex: 1;">
                                <select name="quan" required id="quan"
                                    style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px; margin-bottom: 15px;">
                                    <option value="">Chọn Quận/Huyện</option>
                                    <option value="Quận 1">Quận 1</option>
                                    <option value="Quận 2">Quận 2</option>
                                    <option value="Quận 3">Quận 3</option>
                                    <option value="Quận 4">Quận 4</option>
                                    <option value="Quận 5">Quận 5</option>
                                    <option value="Quận 6">Quận 6</option>
                                    <option value="Quận 7">Quận 7</option>
                                    <option value="Quận 8">Quận 8</option>
                                    <option value="Quận 9">Quận 9</option>
                                    <option value="Quận 10">Quận 10</option>
                                    <option value="Quận 11">Quận 11</option>
                                    <option value="Quận 12">Quận 12</option>
                                    <option value="Quận Bình Thạnh">Quận
                                        Bình Thạnh</option>
                                    <option value="Quận Phú Nhuận">Quận Phú
                                        Nhuận</option>
                                    <option value="Quận Gò Vấp">Quận Gò Vấp
                                    </option>
                                    <option value="Quận Tân Bình">Quận Tân
                                        Bình</option>
                                    <option value="Quận Tân Phú">Quận Tân Phú
                                    </option>
                                    <option value="Quận Thủ Đức">Quận Thủ Đức
                                    </option>
                                    <option value="Huyện Bình Chánh">Huyện
                                        Bình Chánh</option>
                                    <option value="Huyện Cần Giờ">Huyện Cần
                                        Giờ</option>
                                    <option value="Huyện Củ Chi">Huyện Củ Chi
                                    </option>
                                    <option value="Huyện Hóc Môn">Huyện Hóc
                                        Môn</option>
                                    <option value="Huyện Nhà Bè">Huyện Nhà Bè
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div style="margin-bottom: 15px; display: flex; gap: 4%;">
                            <div style="flex: 1;">
                                <input type="phuong" id="phuong" name="phuong" placeholder="Phường/ Xã" required
                                    style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px; margin-bottom: 5px;">
                                <p style="font-size: 14px; color: #777; margin-top: 2px;">Ví dụ: Tăng Nhơn Phú A</p>
                            </div>
                            <div style="flex: 1;">
                                <input type="text" id="nha" name="nha" placeholder="Số nhà/ tên đường" required
                                    style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                                <p style="margin-top: 5px; font-size: 14px; color: #777;">Ví dụ: 33 đường Lê Duẩn</p>
                            </div>
                        </div>
                        <div style="margin-bottom: 15px;">
                            <input type="text" id="ghichu" name="ghichu" placeholder="Ghi chú" required
                                style="width: 100%; padding: 12px; border: 1px solid #000000; border-radius: 0px; font-size: 16px;">
                            <p style="margin-top: 5px; font-size: 14px; color: #777;">Ví dụ: Tên tòa nhà, tầng</p>
                        </div>
                        <h2
                            style="text-align: left; margin-bottom: 20px; ;font-weight:bold ;font-size:22px;margin-top:25px">
                            Phương thức thanh toán</h2>
                        <div class="payment-option">
                            <input type="radio" id="cod" name="payment" value="cod" checked>
                            <label for="cod">Thanh toán khi nhận hàng</label>
                        </div>

                        <div style="margin-top: 20px; display: flex; justify-content:flex-end;gap:20px">
                            <button class="button-27"
                                style="background-color: #ff5722; color: #fff;  width: 18%; display: flex; align-items: center; justify-content: center; border: none;"
                                role="button">
                                Hủy
                            </button>
                            <button class="button-27" type="submit" id="info-button"
                                style="background-color: #000; color: #fff;  width: 27%; display: flex; align-items: center; justify-content: center; border: none;"
                                role="button">
                                Xác nhận
                            </button>
                        </div>
                    </div>
                </form>
                <div class="flex-item-right" style="padding: 10px;flex: 30%;">
                    <h1 style="text-align: left;font-weight:bold ;font-size:22px;">Giỏ hàng của bạn</h1>
                    <div style="margin:30px 0 20px 0">
                        <div style="display:flex;justify-content:space-between">
                            <p id="nop" style="text-align: left;margin-bottom:5px; font-size: 17px; ">0 sản phẩm</p>
                            <p id="pop" style="text-align: left;margin-bottom:5px; font-size: 17px; ">0₫</p>

                        </div>
                        <div style="display:flex;justify-content:space-between">
                            <p style="text-align: left;margin-bottom:5px; font-size: 17px; ">Giao hàng</p>
                            <p style="text-align: left;margin-bottom:5px; font-size: 17px; ">Miễn phí</p>
                        </div>
                        {{!-- <div style="display:flex;justify-content:space-between;align-items:center">
                            <p style="text-align: left;margin-bottom:5px; font-size: 17px; ">Thanh toan</p>

                            <select id="district"
                                style="margin-bottom:5px;height: 49px;width:50%; border: 1px solid #000000; border-radius: 0px; font-size: 17px;">
                                <option>Khi nhan hang</option>
                            </select>
                        </div> --}}
                        <div style="display:flex;justify-content:space-between">
                            <p
                                style="text-align: left;margin-bottom:5px;margin-top:15px; font-size: 17px;font-weight:bold; ">
                                Tổng</p>
                            <p id="sum"
                                style="text-align: left;margin-bottom:5px;margin-top:15px; font-size: 17px;font-weight:bold;color:red ">
                                0₫ </p>
                        </div>

                    </div>
                    <span style="display: block; border-bottom: 2px solid rgb(0, 0, 0); margin-top: 5px;"></span>
                    <div id="checkOutItems" style="max-height: 450px; overflow-y: auto; padding: 5px;">

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="alertModal" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content"
                    style="position:relative; display: flex; align-items: center; justify-content: center;">
                    <span class="closexxx"
                        style="position:absolute; right:10px; top:5px; font-size: 30px; cursor: pointer; transition: color 0.3s;">&times;</span>
                    <div
                        style="background: #fff; padding: 40px; border-radius: 20px; width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                        <p id="alert-text"
                            style="margin-bottom:-20px; text-align: center; color: #333;font-size:20px;color:red">Có lỗi
                        </p>

                    </div>
                    <button type="submit" class="button-27 closexxx"
                        style="margin-bottom: 30px; background-color: #010101; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                        Xác nhận
                    </button>
                </div>
            </div>
        </div>

        {{!-- ////kiem tra thong tin --}}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let check = true;
                const info = document.getElementById('info-button');
                const alerttext = document.getElementById("alert-text")
                const closeButtons = document.querySelectorAll('.closexxx');
                const form = document.getElementById("form-checkout")
                closeButtons.forEach(function (button) {
                    button.onclick = function () {
                        $('#alertModal').modal('hide');
                    };
                });
                //kiem tra va cap nhat thong tin tai khoan
                info.addEventListener('click', async (e) => {
                    e.preventDefault();
                    let check = true;

                    const hovatenval = document.getElementById("hovaten").value.trim();
                    const emailval = document.getElementById("email").value.trim();
                    const sdtval = document.getElementById("phone").value.trim();

                    if (hovatenval === "" || sdtval === "" || emailval === "") {
                        alerttext.innerHTML = "Vui lòng điền đầy đủ thông tin!";
                        $("#alertModal").modal("show");
                        check = false;
                    }
                    if (sdtval.length < 8) {
                        alerttext.innerHTML = "Số điện thoại không hợp lệ!";
                        $("#alertModal").modal("show");
                        check = false;
                    }
                    if (!check) return;

                    try {
                        const response = await fetch("http://localhost:3001/", {
                            method: "PATCH",
                            headers: {
                                "Authorization": `Bearer ${token}`,
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ hovatenval, emailval, sdtval }),
                        });

                        const data = await response.json();
                        if (!response.ok) {
                            alerttext.innerHTML = data.message || "Xác thực thất bại!";
                            $("#alertModal").modal("show");
                            return;
                        }
                    } catch (error) {
                        console.error("Fetch error:", error);
                        return;
                    }

                    const tinh = document.getElementById("tinh").value;
                    const quan = document.getElementById("quan").value;
                    const phuong = document.getElementById("phuong").value.trim();
                    const nha = document.getElementById("nha").value.trim();
                    const ghichu = document.getElementById("ghichu").value.trim();

                    if (tinh === "" || quan === "" || phuong === "" || nha === "" || ghichu === "") {
                        alerttext.innerHTML = "Vui lòng điền đầy đủ thông tin!";
                        $("#alertModal").modal("show");
                        return;
                    }

                    try {
                        const response = await fetch("http://localhost:3001/address", {
                            method: "PATCH",
                            credentials: "include",
                            headers: {
                                "Authorization": `Bearer ${token}`,
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ tinh, quan, phuong, nha, ghichu }),
                        });

                        const data = await response.json();
                        if (!response.ok) {
                            document.getElementById("alert-text").innerHTML = data.message || "Xác thực thất bại!";
                            $("#alertModal").modal("show");
                            return;
                        }
                    } catch (error) {
                        console.error("Fetch error:", error);
                        return;
                    }

                    await order();
                });



                const token = localStorage.getItem("token") || "";
                const hovaten = document.getElementById("hovaten");
                const phone = document.getElementById("phone");
                const email = document.getElementById("email");

                if (!token) {
                    alerttext.innerHTML = "Vui lòng đăng nhập!";
                    $("#alertModal").modal("show");
                    $("#alertModal").on("hidden.bs.modal", function () {
                        window.location.href = "/account/login";
                        return;
                    });
                }
                //lay thong tin khach hang
                fetch("http://localhost:3001", {
                    method: "GET",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                        "Content-Type": "application/json",
                    }
                })
                    .then(async (response) => {
                        const data = await response.json();

                        if (response.ok) {
                            hovaten.value = data.fullname || "";
                            phone.value = data.phone || "";
                            email.value = data.email || "";
                        } else {
                            alerttext.innerHTML = data.message || "Xác thực thất bại!";
                            $("#alertModal").modal("show");
                        }
                    })
                    .catch((error) => {
                        console.error("Fetch error:", error);
                    });

                //lay dia chi khach hang
                const tinh = document.getElementById("tinh")
                const quan = document.getElementById("quan")
                const phuong = document.getElementById("phuong")
                const nha = document.getElementById("nha")
                const ghichu = document.getElementById("ghichu")
                fetch("http://localhost:3001/address", {
                    method: "GET",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                    },
                })
                    .then(async (response) => {
                        const data = await response.json();
                        if (response.ok) {
                            tinh.value = data.tinh || "";
                            quan.value = data.quan || "";
                            phuong.value = data.phuong || "";
                            nha.value = data.nha || "";
                            ghichu.value = data.ghichu || "";
                        } else {
                            alerttext.innerHTML = "Vui lòng đăng nhập!";
                            $("#alertModal").modal("show");
                            $("#alertModal").on("hidden.bs.modal", function () {
                                window.location.href = "/account/login";
                            });
                        }
                    })
                    .catch((error) => {
                        console.error("Fetch error:", error);
                    });
            });
            updateCart();


            async function order() {
                console.log("dat hang")
                const token = localStorage.getItem("token");
                //dat hang
                fetch(`http://localhost:3003/order`, {
                    method: "POST",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                    },
                })
                    .then(async (response) => {
                        const data = await response.json();
                        if (response.ok) {
                            document.getElementById("alert-text").innerHTML = data.message || "Đặt hàng thành công!";
                            $("#alertModal").modal("show");
                            $("#alertModal").on("hidden.bs.modal", function () {
                                window.location.href = "/account/user";
                                return;
                            });
                        } else {
                            document.getElementById("alert-text").innerHTML = data.message || "Có lỗi khi đặt hàng!";
                            $("#alertModal").modal("show");
                        }
                    })
                    .catch((error) => {
                        console.error("POST error:", error);
                    });
            }

            async function xoa(cart_id) {
                const token = localStorage.getItem("token");
                try {
                    const response = await fetch(`http://localhost:3003/cart/${cart_id}`, {
                        method: "DELETE",
                        headers: {
                            "Authorization": `Bearer ${token}`,
                        }
                    })
                    if (!response.ok) {
                        const errorMessage = await deleteResponse.json();
                        console.log(errorMessage);
                    }

                    // Cập nhật giỏ hàng sau khi xóa
                    await updateCart();
                } catch (error) {
                    console.error("Lỗi khi xóa sản phẩm:", error.message);
                }
            }

            //Cập nhật giỏ hàng
            async function updateCart() {
                const token = localStorage.getItem("token");
                fetch("http://localhost:3003/cart", {
                    method: "GET",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                    }
                })
                    .then(async (response) => {
                        const data = await response.json();
                        return { items: data.cartItems, sum: data.sum };
                    })
                    .then(({ items, sum }) => {
                        if (items.length === 0) {
                            window.location.href = "/";
                        }
                        let num = 0;
                        const checkOutItems = document.getElementById("checkOutItems");
                        checkOutItems.innerHTML = ""
                        items.forEach(item => {
                            num += 1;
                            const div = document.createElement("div");
                            div.classList.add("cart-item");
                            div.innerHTML = `
                        <div  style="text-decoration: none; color: inherit;border: none; background: #fff;
                                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); margin-top: 10px;border-radius: 10px;padding:3px;position: relative;">
                            <div class="row g-0 h-100">
                                <a href="/product/${item.product_id}" class="col-md-4 d-flex justify-content-center align-items-center;">
                                    <img src="${item.mainImg}" class="img-fluid" alt="Image" style="height: 100px; width: auto; object-fit: fill; border-radius: 0; border: none;">
                                </a>
                                <div class="col-md-8">
                                    <div class="card-body text-start" style="padding: 5px; height: 100px; display: flex; flex-direction: column; justify-content: center;">
                                        <h5 class="card-title"
                                            style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; white-space: normal; margin: 0;
                                            text-align: left; font-size: 14px;margin-bottom: 5px;margin-top:5px;font-weight: 600;">
                                            ${item.name}
                                        </h5>
                                        <div style="display:flex;justify-content:space-between">
                                        <p class="card-text" style="margin-top: 10px; text-align: center; font-size: 12px;">
                                            <span style="color: red;font-size: 12px;font-weight: 600;">${item.price.toLocaleString('vi-VN')}₫</span>
                                        </p>
                                        <div class="quantity-container" style="display: flex;justify-content: center;align-items: center;gap: 3px;margin-top:0px;margin-top: -11px;margin-right: 15px;">
                                            <button type="button" class="quantity-btn" onclick="decrementQuantityCart(${item.cart_id},${item.product_id})" style="width: 20px; height: 20px; padding: 0;font-size: 12px;">-</button>
                                            <div style="display: flex; align-items: center; justify-content: center; height: 20px;">
                                                <input type="number" id="${item.cart_id}" name="soluong" value="${item.quantity}" min="1" max="10" readonly 
                                                    style="width: 30px; height: 20px; font-size: 12px; text-align: right; line-height: 20px; padding: 0;">
                                            </div>
                                            <button type="button" class="quantity-btn" onclick="incrementQuantityCart(${item.cart_id},${item.product_id})" style="width: 20px;height: 20px;padding: 0;font-size: 12px;">+</button>
                                        </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <i class="bi bi-x"  onclick=xoa(${item.cart_id})></i>
                            </div>
                        </div>`;
                            checkOutItems.appendChild(div);
                        });
                        document.getElementById("nop").innerHTML = `${num} sản phẩm`
                        document.getElementById("pop").innerHTML = `${sum.toLocaleString('vi-VN')}₫`
                        document.getElementById("sum").innerHTML = `${sum.toLocaleString('vi-VN')}₫`


                        const cartItems = document.getElementById("cartItems");
                        cartItems.innerHTML = "";
                        if (items.length === 0) {
                            cartItems.innerHTML = `<hr style="border: none; border-top: 1px solid #ccc; margin: 10px 0;">
                                  <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                                      <i class="fas fa-box-open" style="font-size: 18px; color: #525252;"></i>
                                      <p style="font-size: 14px; margin: 0;">Chưa có sản phẩm</p>
                                  </div>`;
                            return;
                        }
                        items.forEach(item => {
                            const div = document.createElement("div");
                            div.classList.add("cart-item");
                            div.innerHTML = `
            <div  style="text-decoration: none; color: inherit;border: none; background: #fff;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); margin-top: 10px;border-radius: 10px;padding:3px;position: relative;">
                <div class="row g-0 h-100">
                    <a href="/product/${item.product_id}" class="col-md-4 d-flex justify-content-center align-items-center;">
                        <img src="${item.mainImg}" class="img-fluid" alt="Image" style="height: 100px; width: auto; object-fit: fill; border-radius: 0; border: none;">
                    </a>
                    <div class="col-md-8">
                        <div class="card-body text-start" style="padding: 5px; height: 100px; display: flex; flex-direction: column; justify-content: center;">
                            <h5 class="card-title"
                                style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; white-space: normal; margin: 0;
                                 text-align: left; font-size: 15px;margin-bottom: 5px;margin-top:5px;font-weight: 600;">
                                ${item.name}
                            </h5>
                            <div style="display:flex;justify-content:space-between">
                              <p class="card-text" style="margin-top: 10px; text-align: center; font-size: 12px;">
                                  <span style="color: red;font-size: 13px;font-weight: 600;">${item.price.toLocaleString('vi-VN')}₫</span>
                              </p>
                              <div class="quantity-container" style="display: flex;justify-content: center;align-items: center;gap: 3px;margin-top:0px;margin-top: -11px;margin-right: 15px;">
                                <button type="button" class="quantity-btn" onclick="decrementQuantityCart(${item.cart_id},${item.product_id})" style="width: 20px; height: 20px; padding: 0;font-size: 12px;">-</button>
                                <div style="display: flex; align-items: center; justify-content: center; height: 20px;">
                                    <input type="number" id="${item.cart_id}" name="soluong" value="${item.quantity}" min="1" max="10" readonly 
                                        style="width: 30px; height: 20px; font-size: 12px; text-align: right; line-height: 20px; padding: 0;">
                                </div>
                                <button type="button" class="quantity-btn" onclick="incrementQuantityCart(${item.cart_id},${item.product_id})" style="width: 20px;height: 20px;padding: 0;font-size: 12px;">+</button>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                    <i class="bi bi-x"  onclick=xoa(${item.cart_id})></i>
                </div>
            </div>`;
                            cartItems.appendChild(div);
                        });
                        const tongGia = document.createElement("div");
                        tongGia.innerHTML = `
            <div style="display:flex; justify-content:space-between; padding: 10px;margin-top:5px">
                <p style="font-weight:400;">Tổng giá:</p>
                <p style="color: red;font-weight:600;">${sum.toLocaleString('vi-VN')}₫</p>
            </div>
            <button type="button" class="button-27" 
                  style="width: 98%; margin-left: 4px; margin-top: -5px; display: flex; align-items: center; justify-content: center; gap: 8px;" 
                  onclick="checkOut()">
                <i class="bi bi-credit-card" style="font-size: 20px;"></i> 
                <span>Thanh toán</span>
            </button>
            `;

                        cartItems.appendChild(tongGia);
                    })
                    .catch((error) => {
                        console.log("Loi khi lay gio hang: ", error)
                        const empty = document.createElement("div");
                        cartItems.innerHTML = ""
                        empty.innerHTML = `
          <hr style="border: none; border-top: 1px solid #ccc; margin: 10px 0;">
          <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
              <i class="fas fa-box-open" style="font-size: 18px; color: #525252;"></i>
              <p style="font-size: 14px; margin: 0;">Chưa có sản phẩm</p>
          </div>
      `;

                        cartItems.appendChild(empty);
                    })
            }

        </script>
    </div>
    <div>

    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


</body>

</html>